*{
    box-sizing: border-box;

}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
}

.block{
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #883377;
}
